.box-auto {
width: min-content;
}

.box-0-5 {
grid-column: span 1;
    flex: 1 1 6.25%;
}

.box-1 {
grid-column: span 2;
    flex: 0 1 12.5%;
}

.box-1-5 {
grid-column: span 3;
    flex: 0 1 18.75%;
}

.box-2 {
grid-column: span 4;
    flex: 0 1 25%;
}

.box-2-5 {
grid-column: span 5;
    flex: 0 1 31.25%;
}

.box-3 {
grid-column: span 6;
    flex: 0 1 37.5%;
}

.box-3-5 {
grid-column: span 7;
    flex: 0 1 43.75%;
}

.box-4 {
grid-column: span 8;
    flex: 1 1 50%;
}

.box-4-5 {
grid-column: span 9;
    flex: 1 1 56.25%;
}

.box-5 {
grid-column: span 10;
    flex: 1 1 62.5%;
}

.box-5-5 {
grid-column: span 11;
    flex: 1 1 68.75%;
}

.box-6 {
grid-column: span 12;
    flex: 1 1 75%;
}

.box-6-5 {
grid-column: span 13;
    flex: 1 1 81.25%;
}

.box-7 {
grid-column: span 14;
    flex: 1 1 87.5%;
}

.box-7-5 {
grid-column: span 15;
    flex: 1 1 93.75%;
}

.box-8 {
grid-column: span 16;
    flex: 1 1 100%;
}