table{
	width: 100%;
	height: auto;
	overflow: scroll;
}

table>caption{
	text-align: left;
}
table .radio-checkbox-container{
	border: none !important;
}
table > tbody > tr > :where(:first-child, :last-child){
	position: fixed;
}
table > tbody > tr:nth-child(even){
	background-color: inherit;
}
table > tbody > tr:nth-child(odd){
	
}
table>tfoot>tr:last-child>th:first-child>p{
	width: 100%;
	text-align: left;
}
table>tfoot>tr:last-child>th:last-child>menu{
	width: 100%;
	display: flex;
	justify-content: end;
	gap: .5rem;
}